
@{
    ViewBag.Title = "Validate";
}

<h2>Ingreso al sistema - Productos </h2>
@using (Html.BeginForm())
{
    <table align="center">
        <tr>
            <td>Ingrese usuario:</td>
            <td>@Html.TextBox("access")</td>
        </tr>
        <tr>
            <td>Ingrese contraseña:</td>
            <td>@Html.Password("password")</td>
        </tr>
        <tr>
            <td><input type="submit" value="Ingresar" onclick="Validate()" /></td>
        </tr>
    </table>
}


